{% extends "base.html" %}
{% load static %}

{% block title %}Mes offres d'emploi - JobFinder{% endblock %}

{% block content %}
{% include "job_finder/header.html" %}
<link rel="stylesheet" href="{% static 'agency_offers.css' %}">
<link rel="stylesheet" href="{% static 'offer_card.css' %}">
<link rel="stylesheet" href="{% static 'offer_list.css' %}">
<div class="agency-offers-container">
    <div class="agency-offers-header">
        <h1>Mes offres d'emploi</h1>
        <a href="{% url 'job_finder:create_offer' %}" class="create-offer-btn">Créer une nouvelle offre</a>
    </div>

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="message {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}

    {% include "job_finder/components/offer_list.html" with offers=job_offers user_type="agency" show_actions=True show_filters=True search_query=search_query contract_type=contract_filter experience=experience_filter status=active_filter sort_by=sort_by sort_dir=sort_dir total_results=total_results preserve_params=preserve_params %}
</div>
{% endblock %}
